@layer tailwind-theme, tailwind-reset, mde, tailwind-utilities, mde-final;

@import 'tailwindcss/theme.css' layer(tailwind-theme);
@import 'tailwindcss/preflight.css' layer(tailwind-reset);
@import 'tailwindcss/utilities.css' layer(tailwind-utilities);

@import 'mde-vue/tailwind.css';

/* 基础全局样式 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
}

